.auth-container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    flex-wrap: wrap;
    .auth__bg {
        background-image: url('/src/assets/img/slide.jpg');
        width: 500px;
        height: 500px;
        border-radius: 0px 15px 15px 0px;
        -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
    }

    .auth__login-container {
        // display: flex;
        // flex-direction: column;

        .auth__form {
            label {
                display: flex;
                flex-direction: column;
                input {
                    width: 300px;
                    height: 35px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .auth__next-register {
            .auth-register__none {
                cursor: pointer;
            }
            margin-top: 10px;
        }
    }
    .auth__register-contaier {
        display: none;
        width: 500px;
        height: 500px;
        border-radius: 15px 0px 0px 15px;
        -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
    }
}
.auth__login-main {
    // display: none;
    width: 500px;
    height: 500px;
    border-radius: 15px 0px 0px 15px;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    h2 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }
}
.auth__active {
    display: none;
}
